:root {
  /* Fonts */
--primary-font: "Roboto", sans-serif;

/* Colors */
  --color1: #2e2f42 ;
  --color2:#4d5ae5;
} 

body {
  font-family: var(--primary-font);
  background-color: #fff;
  color: #434455;
  font-style: normal;
  font-weight: 500;
}

.link {
  text-decoration: none;
}

.header-main {
  background-color: #fff;
}

.web-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color2);
}

.web_studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}


.menu-nav {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* Menu1 */
.menu {
color: #2e2f42;
}

.menu :focus{
  color: #404bbf;
}

.menu :hover{
color: #404bbf;
}


.address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color:var(--color1);
}

.contacts_info{
  color: #434455;
}

/* Main */
.main_content{
  background-color: #e5e5e5;
}

/* Section 1 */
.main_hero {
  background: #2E2F42;
}

.all_button{
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color2);
  background-color: #F4F4FD;
  cursor: pointer;
}

.solutions {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
}

.button {
  background-color: var(--color2);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
.order-btn {
  color: #fff;
}
/* //  Section 1 */

/* Features */
/* Section 2 */
.feature {
  background: #e5e5e5;
}

.main_features {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color1);
}

.main_parag {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* //Section 2 */
 /* //Features  */

 /* Actions */
/* Section 3 */
.actions {
  background: #e5e5e5;
}

.main_actions {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color1);
}

/* //Section 3 */
/* //Actions */

/* Team */
/* Section 4 */

.team {
  background: #f4f4fd;
}

.our_team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color1);
}

.team_items{
  background-color: #FFFFFF
}

.name_and_surname {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color1);
}
.job {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

.main-footer {
  background: var(--color1);
}

.studio_footer {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.main-footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.list {
  list-style: none;
}

/* Portfolio */

.main-hero {
  background-color: #fff;
}

.item_list{
  color: var(--color1);
}

.mail_item{
  color: #434455;
}
